.favs{
    position: fixed;
    width: 320px;
    height: auto;
    max-height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    background-color: var(--secondary-theme-color);
    top: 60px;
    right: 0;
    z-index: 1000;
    padding: 30px 15px 10px 15px;
    text-transform: uppercase;
    -webkit-box-shadow: -1px 6px 23px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 6px 23px -2px rgba(0,0,0,0.4);
    box-shadow: -1px 6px 23px -2px rgba(0,0,0,0.4);
}

.favs-table{
    font-size: 10px;
    padding: 0px 15px;
}
.favs-item{
    background-color: var(--primary-background);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    font-size: 11px;
}
.favs-img{
    height: 70px;
    width: 70px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* border-radius: 5px; */
}

.remove-item-btn{
    background-color: transparent;
    color: var(--secondary-text);
    border:none;
    width: 20px;
    height: 20px;
    border-radius: 20%;
}

.remove-item-btn:hover{
    color: black;
}

.favs-title{
    margin-left: 5px;
}
.favs a{
    cursor: pointer;
}
.favs a:hover{
    text-decoration: none;
}
.favs a:hover .favs-item{
    background-color: #eaeaea;
}
