.navbar-section{
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: auto;
    width: 100%;
    transition: .5s;
    text-transform: uppercase;
}

.nav-shadow{
    -webkit-box-shadow: -4px 2px 23px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: -4px 2px 23px -2px rgba(0,0,0,0.4);
    box-shadow: -4px 2px 23px -2px rgba(0,0,0,0.4);
}
nav{
    height: 60px;
}
.nav-logo{
    object-fit: contain;
    height: 50px;
}

.nav-link{
    color: var(--primary-text-color);
    text-decoration: none;
    transition: .1s;
}

.nav-link:hover{
    /* background-color: var(--secondary-theme-color); */
    color: var(--theme-color)!important;
}

.nav-sales{
    color: var(--theme-color)!important;
}

.search-input-container{
    position: relative;
    overflow: hidden;
}
.nav-search-input{
    padding: 5px;
    border: none;
    background-color: #EBEDEE !important;
}

.nav-search-input-white{
    padding: 5px;
    border: none;
    background-color: #303030 !important;
}

.nav-search-input:focus,.nav-search-input:active {
    outline: none !important;
    box-shadow: none;
 }

 .nav-search-input-white:focus,.nav-search-input-white:active {
    outline: none !important;
    box-shadow: none;
 }

.nav-search-icon{
    position: absolute;
    object-fit: contain;
    height: 40px;
    padding: 10px;
    right: 3%;
    cursor: pointer;
}

.nav-icon{
    object-fit: contain;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.nav-btn{
    background: none;
    border: none;
}

.bag-btn{
    position: relative;
}

.cart-number{
    position: absolute;
    top: 5px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    width: 17px;
    height: 17px;
    font-size: 12px;
    border-radius: 30%;
    color: var(--primary-background);
}

.heart-btn{
    position: relative;
}
.fav-number{
    position: absolute;
    top: 5px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    width: 17px;
    height: 17px;
    font-size: 12px;
    border-radius: 30%;
    color: var(--primary-background);
}

.collapse:not(.show){
    left: -113%;
}


.navbar-section .dropdown-menu{
    min-width: none!important;
    left: -197%!important;
}

.close-sidebar{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 90%;
    background: none;
    border: none;
}
/* Media Query */
@media screen and (max-width: 992px) {
    .nav-sidebar-logo{
        display: flex!important;
    }
    .navbar-collapse{
        display: block!important;
        position: absolute;
        order: 1;
        background-color: var(--primary-background);
        top: 0;
        left: -13%;
        /* width: 75vw!important; */
        width: 200px!important;
        height: 100vh!important;
        padding: 20px;
        z-index: 10;
        box-shadow: 8px 15px 15px -5px rgba(0,0,0,0.44);
        -webkit-box-shadow: 8px 15px 15px -5px rgba(0,0,0,0.44);
        -moz-box-shadow: 8px 15px 15px -5px rgba(0,0,0,0.44);
        transition: .5s!important;
    }

    .nav-icons .search-input-container{
        display: block!important;
        position: relative;
    }

    .nav-search-input{
        display: none;
    }
    .nav-search-input-white{
        display: none;
    }
    .nav-search-icon{
        position: static;
    }

    .nav-link{
        color: var(--primary-text-color)!important;
        /* color: white; */
        text-decoration: none;
        transition: .1s;
    }

    .nav-sales{
        color: var(--theme-color)!important;
    }

    .nav-icons{
        justify-content: end!important;
        flex: 0 0 66.66666%!important;
        max-width: 66.66666%!important;
        padding: 0;
    }


  }
  @media screen and (min-width: 992px) {
    .navbar-collapse{
        order: 0;
    }
    .navbar-nav{
        margin-top: 0!important;
    }
    .close-sidebar{
        display: none;
    }
}
