.product-page-img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.related{
    border-top: 1px solid grey ;
}

.star{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.reviews-section .reviews{
    -webkit-box-shadow: inset 0px 50px 17px -54px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 50px 17px -54px rgba(0,0,0,0.3);
    box-shadow: inset 0px 50px 17px -54px rgba(0,0,0,0.3);
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    /* padding-top: 1rem; */
}
.reviews-item .user img{
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviews-item .feedback{
    font-weight: lighter;
    color: #3f3f3f;
}

.colors-option .color{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.colors .active{
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.colors-option .color.not-available{
    opacity: .2;
    scale: .8;
}
.add-to-bag-btn{
    padding: .5rem 2rem;
    background-color: black;
    border: 1px solid black;
    color: white;
}
.add-to-bag-btn .shopping-bag{
    width: 25px;
    height: 25px;
}

.add-to-favs-btn{
    padding: .5rem 1rem;
    background-color: white;
    border: 1px solid black;
}

.add-to-favs-btn .fav-heart{
    width: 25px;
    height: 25px;
}